{% extends 'base.html' %}

{% block content %}

{% for msg in get_flashed_messages() %}
<div class="alert alert-warning alert-dismissible show" role="alert">
    {{msg}}
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
{% endfor %}
{%if name%}
<h1>Hello {{name|title}}!</h1>
{%else%}
<h1>Register New User</h1>
<br />

<div class = "shadow p-3 mb-5 bg-body rounded">

<form method="POST">


    {{form.hidden_tag()}}
    {{form.username.label(
        class="form-label"
        )}}
    
        {{form.username(
        class="form-control",
        placeholder="john123"
        )}}
    
    
    <br />
    {{form.first_name.label(
    class="form-label"
    )}}

    {{form.first_name(
    class="form-control",
    placeholder="John"
    )}}


    <br />
    {{form.hidden_tag()}}

    {{form.last_name.label(
    class="form-label"
    )}}

    {{form.last_name(
    class="form-control",
    placeholder="Doe"
    )}}


    <br />
    {{form.hidden_tag()}}

    {{form.email.label(
    class="form-label"
    )}}

    {{form.email(
    class="form-control",
    placeholder="user@email.com"
    )}}


    <br />
    {{form.hidden_tag()}}

    {{form.affiliation.label(
    class="form-label"
    )}}

    {{form.affiliation(
    class="form-control",
    placeholder="University of Trantor"
    )}}


    <br />

    {{form.password_hash.label(
    class="form-label"
    )}}

    {{form.password_hash(
    class="form-control",

    )}}


    <br />

    {{form.password_hash2.label(
    class="form-label"
    )}}

    {{form.password_hash2(
    class="form-control",

    )}}


    <br />
    {{form.submit(
    class="btn btn-secondary"
    )}}
</form>
</div>

<br />

{%endif%}
{% endblock content %}
