{% extends 'base.html' %}

{% block content %}
{% for msg in get_flashed_messages() %}
<div class="alert alert-warning alert-dismissible fade show" role="alert">
    {{ msg }}
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
{% endfor %}
<a class="btn btn-success w-100 mb-3" data-bs-toggle="collapse" href="#abs_spec" role="button"
aria-expanded="false" aria-controls="abs_spec">
<i class="bi bi-graph-up"></i> Absorption Spectrum
</a>
<div class="collapse" id="abs_spec">
<div class="p-3 border bg-light">
    <h2>Absorption Spectrum</h2>
    {% if absorption_plot_div %}
    <div class="plot-container">
        {{ absorption_plot_div|safe }}
    </div>
    {% else %}
    <p>No absorption data to display.</p>
    {% endif %}
</div>
</div>

<!-- ECD Spectrum -->
<a class="btn btn-success w-100 mb-3" data-bs-toggle="collapse" href="#ecd_spec" role="button"
aria-expanded="false" aria-controls="ecd_spec">
<i class="bi bi-graph-up"></i> ECD Spectrum
</a>
<div class="collapse" id="ecd_spec">
<div class="p-3 border bg-light">
    <h2>ECD Spectrum</h2>
    {% if ecd_plot_div %}
    <div class="plot-container">
        {{ ecd_plot_div|safe }}
    </div>
    {% else %}
    <p>No ECD data to display.</p>
    {% endif %}
</div>
</div>
<!-- g Factor -->
<a class="btn btn-success w-100 mb-3" data-bs-toggle="collapse" href="#g_fac" role="button"
aria-expanded="false" aria-controls="g_fac">
<i class="bi bi-graph-up"></i> g Factor
</a>
<div class="collapse" id="g_fac">
<div class="p-3 border bg-light">
    <h2>g Factor</h2>
    {% if gfac_plot_div %}
    <div class="plot-container">
        {{ gfac_plot_div|safe }}
    </div>
    <div class ="p-3 border bg-light">
        Maximum g-factor
        <table class="table  table-hover">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Molecule Name</th>
                    <th scope="col">Max g-fac</th>
                    <th scope="col">Wavelgth max g-fac</th>
                </tr>
            </thead>

            <tbody>
                <tr>
                    <th scope="row">{{molecule1.id}}</th>
                    <td>{{molecule1.name}}</th>
                    <td>{{max_g1  | round(5)}}</th>
                    <td>{{wvl_maxg1}}</th>
                </tr>
                <tr>
                    <th scope="row">{{molecule2.id}}</th>
                    <td>{{molecule2.name}}</th>
                    <td>{{max_g2  | round(5)}}</th>
                    <td>{{wvl_maxg2}}</th>
                </tr>
            </tbody>
        </table>
        {{molecule1.name}}
    </div>
    {% else %}
    <p>No g-factor data to display.</p>
    {% endif %}
</div>
</div>
{% endblock %}