{% extends 'base.html' %}

{% block content %}
{% for msg in get_flashed_messages() %}
<div class="alert alert-warning alert-dismissible fade show" role="alert">
    {{ msg }}
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
{% endfor %}
<a class="btn btn-success w-100 mb-3" data-bs-toggle="collapse" href="#abs_spec" role="button"
aria-expanded="false" aria-controls="abs_spec">
<i class="bi bi-graph-up"></i> Absorption Spectrum
</a>
<div class="collapse" id="abs_spec">
<div class="p-3 border bg-light">
    <h2>Absorption Spectrum</h2>
    {% if abs_plot_div %}
    <div class="plot-container">
        {{ abs_plot_div|safe }}
    </div>
    {% else %}
    <p>No absorption data to display.</p>
    {% endif %}
</div>
</div>

<!-- ECD Spectrum -->
<a class="btn btn-success w-100 mb-3" data-bs-toggle="collapse" href="#ecd_spec" role="button"
aria-expanded="false" aria-controls="ecd_spec">
<i class="bi bi-graph-up"></i> ECD Spectrum
</a>
<div class="collapse" id="ecd_spec">
<div class="p-3 border bg-light">
    <h2>ECD Spectrum</h2>
    {% if ecd_plot_div %}
    <div class="plot-container">
        {{ ecd_plot_div|safe }}
    </div>
    {% else %}
    <p>No ECD data to display.</p>
    {% endif %}
</div>
</div>


<!-- g Factor -->
<a class="btn btn-success w-100 mb-3" data-bs-toggle="collapse" href="#g_fac" role="button"
aria-expanded="false" aria-controls="g_fac">
<i class="bi bi-graph-up"></i> g Factor
</a>
<div class="collapse" id="g_fac">
<div class="p-3 border bg-light">
    <h2>g Factor</h2>
    {% if gfac_plot_div %}
    <div class="plot-container">
        {{ gfac_plot_div|safe }}
    </div>

    {% else %}
    <p>No g-factor data to display.</p>
    {% endif %}
</div>
</div>

<!-- Chiral Polarizability -->
<a class="btn btn-success w-100 mb-3" data-bs-toggle="collapse" href="#chir_pol" role="button"
aria-expanded="false" aria-controls="g_fac">
<i class="bi bi-graph-up"></i> Chiral Polarizability
</a>
<div class="collapse" id="chir_pol">
<div class="p-3 border bg-light">
    <h2>Chiral Polarizability</h2>
    {% if chir_plot_div %}
    <div class="plot-container">
        {{ chir_plot_div|safe }}
    </div>
    {% else %}
    <p>No Chiral POlarizability data to display.</p>
    {% endif %}
</div>
</div>
<!-- aChiral Polarizability -->
<a class="btn btn-success w-100 mb-3" data-bs-toggle="collapse" href="#achir_pol" role="button"
aria-expanded="false" aria-controls="g_fac">
<i class="bi bi-graph-up"></i> Achiral Polarizability
</a>
<div class="collapse" id="achir_pol">
<div class="p-3 border bg-light">
    <h2>Achiral Polarizability</h2>
    {% if achir_plot_div %}
    <div class="plot-container">
        {{ achir_plot_div|safe }}
    </div>
    {% else %}
    <p>No Achiral POlarizability data to display.</p>
    {% endif %}
</div>
</div>

{% endblock %}
