{% extends 'base.html' %}
{% block content %}
<h1>HomePage</h1>
<h2>ChiralForce DB</h2>
<div class="card">
<span class="type" style="--n:1053">So the term "chiral" derives from the Greek word "hand." Now, the concept here being that just as your left hand and your right hand are mirror images of one another, right, identical and yet opposite, well, so, too, organic compounds can exist as mirror-image forms of one another, all the way down at the molecular level. But although they may look the same, they don't always behave the same. For instance, I'm sorry. For instance, thalidomide. The right-handed isomer of the drug thalidomide is a perfectly fine, good medicine to give to a pregnant woman to prevent morning sickness. But make the mistake of giving that same pregnant woman the left-handed isomer of the drug thalidomide, and her child will be born with horrible birth defects, which is precisely what happened in the 1950s. So chiral, chirality, mirrored images, right? Active, inactive, good, bad.</span>
</div>

    <p>
    </p>

    <img src="{{ url_for('static', filename='images/heli_light.png') }}" alt="sussy molecule in void" width="1100px">

    <br /><br />

    <p id="demo">This is stuf...</p>
    <script src="{{ url_for('static', filename='js/myFile.js') }}"></script>

    {% endblock %}