{% extends 'base.html' %}

{% block content %}

{% for msg in get_flashed_messages() %}
<div class="alert alert-warning alert-dismissible show" role="alert">
    {{ msg }}
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
{% endfor %}

<h1>Login</h1>
<br />

<div class="shadow p-3 mb-5 bg-body rounded">
    <form method="POST">
        {{ form.hidden_tag() }}

        <!-- Username Field -->
        {{ form.username.label(class="form-label") }}
        {{ form.username(class="form-control", placeholder="john123") }}

        <br />

        <!-- Password Field with Show Password Option -->
        {{ form.password.label(class="form-label") }}
        <div class="input-group">
            {{ form.password(class="form-control", id="password-field") }}
            <div class="input-group-append">
                <span class="input-group-text">
                    <input type="checkbox" id="toggle-password" onclick="togglePassword()"> Show Password
                </span>
            </div>
        </div>

        <br />

        <!-- Submit Button -->
        {{ form.submit(class="btn btn-secondary") }}

        <!-- Registration Link -->
        &nbsp;&nbsp;Not registered? <a href="/user/add/">Register here</a> to upload molecules and download data.
    </form>
</div>

<br />

<!-- JavaScript for Password Toggle -->
<script>
    function togglePassword() {
        var passwordField = document.getElementById("password-field");
        var checkbox = document.getElementById("toggle-password");
        if (checkbox.checked) {
            passwordField.type = "text"; // Show password
        } else {
            passwordField.type = "password"; // Hide password
        }
    }
</script>

{% endblock content %}