{% extends 'base.html' %}

{% block content %}
{% for msg in get_flashed_messages() %}
<div class="alert alert-warning alert-dismissible fade show" role="alert">
    {{ msg }}
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
{% endfor %}

<div class="row g-4">
    <div class="col-md-6">
        <div class="card shadow-lg h-100"
            style="border-radius: 20px; overflow: hidden; background: linear-gradient(135deg, #6a11cb 0%, #2575fc 100%);">
            <div class="card-body text-white p-4">
                <h5 class="card-title display-6" style="font-weight: bold;">
                    {{ molecule.name }}
                </h5>
                <hr class="bg-light" />
                {% if molecule.iupac_name %}
                <h6 class="card-subtitle mb-3 text-light"><strong>IUPAC Name:</strong>
                    {{ molecule.iupac_name | title }}
                </h6>
                {% else %}
                <h6 class="card-subtitle mb-3 text-light"><strong>IUPAC Name:</strong> Not Given</h6>
                {% endif %}

                <p class="card-text">
                    <i class="bi bi-bar-chart-fill"></i> <strong>Molecular Weight:</strong>
                    {{ molecule.molecular_weight }} g/mol <br />

                    <i class="bi bi-droplet-fill"></i> <strong>Concentration:</strong>
                    {{ molecule.concentration }} g/L <br />

                    <i class="bi bi-layers-fill"></i> <strong>Composition:</strong>
                    {{ molecule.composition }} <br />

                    <i class="bi bi-person-fill"></i> <strong>Uploaded by:</strong>
                    {{ molecule.poster.last_name }} {{ molecule.poster.first_name }} <br />

                    {% if molecule.tool == MeasurementType.experimental %}
                    <img src="{{url_for('static', filename='images/test-tube.svg')}}" alt="Test Tube" width="16" height="16" style="filter: invert(100%) brightness(100%);">
                    <i></i> <strong>Method:</strong>
                    Experimental
                    {% else %}
                    <i class="bi bi-cpu-fill"></i> <strong>Method:</strong>
                    Computational
                    {% endif %}
                    <br />

                    <i class="bi bi-people-fill"></i> <strong>Group:</strong>
                    {{ molecule.poster.affiliation }} <br />

                    <i class="bi bi-graph-up-arrow"></i> <strong>Max g-factor:</strong>
                    {{ max_g | round(5) }} ({{ wvl_maxg }} nm)
                </p>
            </div>
        </div>

    </div>

    <div class="col-md-6">
        <div class="card shadow-lg h-100"
            style="border-radius: 20px; overflow: hidden; background: linear-gradient(135deg, #2575fc 0%, #6a11cb 100%);">
            <div class="card-body">
                <!-- View 3D Structure -->
                <a class="btn btn-outline-light w-100 mb-3" data-bs-toggle="collapse" href="#collapseExample"
                    role="button" aria-expanded="false" aria-controls="collapseExample">
                    <i class="bi bi-badge-3d"></i> View 3D Structure
                </a>
                <div class="collapse" id="collapseExample">
                    <div class="card card-body">
                        <script src="https://3Dmol.org/build/3Dmol-min.js"></script>
                        {% if molecule.iupac_name %}
                        <div id="container-01" class="mol-container" data-cid="{{ molecule.pubchem_id }}">
                            <!-- 3Dmol viewer will be initialized here -->
                        </div>
                        {% else %}
                        <div id="container-01" class="mol-container"></div>
                        <script>
                            const element1 = document.querySelector('#container-01');
                            const config1 = { backgroundColor: 'white' };
                            const viewer1 = $3Dmol.createViewer(element1, config1);
                            viewer1.addLabel("Structure Not Available", {
                                position: { x: -5, y: 0, z: 0 },
                                fontSize: 20,
                                fontColor: 'red',
                                backgroundOpacity: 0.5,
                                backgroundColor: 'blue'
                            });
                            viewer1.zoomTo();
                            viewer1.render();
                            viewer1.zoom(0.8, 2000);
                        </script>
                        {% endif %}
                    </div>
                </div>

                <!-- Absorption Spectrum -->
                <a class="btn btn-outline-light w-100 mb-3" data-bs-toggle="collapse" href="#abs_spec" role="button"
                    aria-expanded="false" aria-controls="abs_spec">
                    <i class="bi bi-graph-up"></i> Absorption Spectrum
                </a>
                <div class="collapse" id="abs_spec">
                    <div class="p-3 border bg-light">
                        <h2>Absorption Spectrum</h2>
                        {% if absorption_plot_div %}
                        <div class="plot-container">
                            {{ absorption_plot_div|safe }}
                        </div>
                        {% else %}
                        <p>No absorption data to display.</p>
                        {% endif %}
                    </div>
                </div>

                <!-- ECD Spectrum -->
                <a class="btn btn-outline-light w-100 mb-3" data-bs-toggle="collapse" href="#ecd_spec" role="button"
                    aria-expanded="false" aria-controls="ecd_spec">
                    <i class="bi bi-graph-up"></i> ECD Spectrum
                </a>
                <div class="collapse" id="ecd_spec">
                    <div class="p-3 border bg-light">
                        <h2>ECD Spectrum</h2>
                        {% if ecd_plot_div %}
                        <div class="plot-container">
                            {{ ecd_plot_div|safe }}
                        </div>
                        {% else %}
                        <p>No ECD data to display.</p>
                        {% endif %}
                    </div>
                </div>

                <!-- g Factor -->
                <a class="btn btn-outline-light w-100 mb-3" data-bs-toggle="collapse" href="#g_fac" role="button"
                    aria-expanded="false" aria-controls="g_fac">
                    <i class="bi bi-graph-up"></i> g Factor
                </a>
                <div class="collapse" id="g_fac">
                    <div class="p-3 border bg-light">
                        <h2>g Factor</h2>
                        {% if gfac_plot_div %}
                        <div class="plot-container">
                            {{ gfac_plot_div|safe }}
                        </div>
                        {% else %}
                        <p>No g-factor data to display.</p>
                        {% endif %}
                    </div>
                </div>
                {% if current_user.is_authenticated %}
                <a class="btn btn-outline-light w-100 mb-3" data-bs-toggle="collapse" href="#download_csv" role="button"
                    aria-expanded="false" aria-controls="download_csv">
                    <i class="bi bi-download"></i> Download Data as CSV
                </a>
                <div class="collapse" id="download_csv">
                    <div class="p-3 border bg-light">
                        <h3>Select Data to Include in CSV:</h3>
                        <form method="POST" action="{{ url_for('molecule', id=molecule.id) }}">
                            {{ form.hidden_tag() }}
                            <div class="form-check">
                                {{ form.absorption.label }} {{ form.absorption(class="form-check-input") }}
                            </div>
                            <div class="form-check">
                                {{ form.ecd.label }} {{ form.ecd(class="form-check-input") }}
                            </div>
                            <div class="form-check">
                                {{ form.gfactor.label }} {{ form.gfactor(class="form-check-input") }}
                            </div>
                            {{ form.submit(class="btn btn-primary mt-3") }}
                        </form>
                        <br/>
                        <p>
                            Please cite the following references if you use this data
                            <div class="p-3 border bg-light">
                                <div class="p-3 border bg-light">
                                    {% for pub in pub_metadata %}
                                        <i class="bi bi-book-fill"></i> 
                                        <em>{{ pub.title or "Unknown Title" }}</em>
                                        {% if pub.authors %}
                                            {{ pub.authors | join(", ") }}
                                        {% else %}
                                            by Unknown Authors
                                        {% endif %}
                                        <br>
                                    {% else %}
                                        <p>No references available.</p>
                                    {% endfor %}
                                </div>
                                <a href="/molecule/{{ molecule.id }}/bibtex" class="btn btn-success" role="button">
                                    Download as BibTeX
                                </a>
                            </div>
                            
                        </p>
                    </div>
                   
                </div>
                {% else %}
                <!-- Disabled download button for unauthenticated users -->
                <a class="btn btn-outline-light w-100 mb-3 disabled-download" role="button" aria-expanded="false"
                    aria-controls="download_csv">
                    <i class="bi bi-download"></i> Download Data as CSV
                </a>
                
                {% endif %}

            </div>
        </div>
    </div>
</div>

<!-- Back and Delete Buttons -->
<div class="d-flex justify-content-between mt-4">
    <a class="btn btn-outline-primary" href="{{ url_for('all_molecules') }}"><i class="bi bi-list-columns-reverse"></i>
        Back to Molecules List</a>
    <a class="btn btn-outline-danger" href="{{url_for('delete_mol', id=molecule.id)}}"><i class="bi bi-trash"></i>
        Delete Molecule</a>
</div>

<!-- Plotly and Viewer JS -->
<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
<script>
    window.onload = function () {
        var plotDivs = document.querySelectorAll('.plotly-plot');
        plotDivs.forEach(function (div) {
            Plotly.Plots.resize(div);
        });
    };

    window.onresize = function () {
        var plotDivs = document.querySelectorAll('.plotly-plot');
        plotDivs.forEach(function (div) {
            Plotly.Plots.resize(div);
        });
    };
</script>
<script src="{{ url_for('static', filename='js/molecule_viewer.js') }}"></script>
<script src="{{ url_for('static', filename='js/myFile.js') }}"></script>

{% endblock %}